In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [4]:
data=pd.read_csv("data\FastagFraudDetection.csv")

In [9]:
# analyse timestamp to get fraud or not
data['Timestamp']=pd.to_datetime(data['Timestamp'])
data['Timestamp']

0      2023-01-06 11:20:00
1      2023-01-07 14:55:00
2      2023-01-08 18:25:00
3      2023-01-09 02:05:00
4      2023-01-10 06:35:00
               ...
4995   2023-01-01 22:18:00
4996   2023-01-17 13:43:00
4997   2023-02-05 05:08:00
4998   2023-02-20 20:34:00
4999   2023-03-10 00:59:00
Name: Timestamp, Length: 5000, dtype: datetime64[ns]

In [10]:
data['hour']=data['Timestamp'].dt.hour
data['dayOfWeek']=data['Timestamp'].dt.dayofweek
data['month']=data['Timestamp'].dt.month
data['year']=data['Timestamp'].dt.year

In [11]:
data.drop('Timestamp',axis=1,inplace=True)

In [12]:
num_columns=data.select_dtypes(include=['int64','float64','int32'])
cat_columns=data.select_dtypes(include=['object'])

In [13]:
# removing unncessesry columns
data.drop(['Transaction_ID','FastagID','Geographical_Location'], axis=1, inplace=True)

In [22]:
data['state_code']=data['Vehicle_Plate_Number'].str[:2]
data.drop('Vehicle_Plate_Number',axis=1,inplace=True)

In [14]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [15]:
le.fit(data['Vehicle_Type'])
data['Vehicle_Type']=le.transform(data['Vehicle_Type'])

In [16]:
le.fit(data['Lane_Type'])
data['Lane_Type']=le.transform(data['Lane_Type'])

In [17]:
le.fit(data['Vehicle_Dimensions'])
data['Vehicle_Dimensions']=le.transform(data['Vehicle_Dimensions'])

In [23]:
le.fit(data['state_code'])
data['state_code']=le.transform(data['state_code'])

In [19]:
le.fit(data['Fraud_indicator'])
data['Fraud_indicator']=le.transform(data['Fraud_indicator'])

In [20]:
le.fit(data['TollBoothID'])
data['TollBoothID']=le.transform(data['TollBoothID'])

In [24]:
data.head()

,Vehicle_Type,TollBoothID,Lane_Type,Vehicle_Dimensions,Transaction_Amount,Amount_paid,Vehicle_Speed,Fraud_indicator,hour,dayOfWeek,month,year,state_code
0,0,0,0,0,350,120,65,0,11,4,1,2023,6
1,1,1,1,2,120,100,78,0,14,5,1,2023,6
2,2,3,1,2,0,0,53,1,18,6,1,2023,6
3,5,2,1,0,350,120,92,0,2,0,1,2023,6
4,6,1,0,1,140,100,60,0,6,1,1,2023,6

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [26]:
X=data.drop('Fraud_indicator',axis=1)
y=data['Fraud_indicator']

In [27]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [36]:
X=pd.DataFrame(sc.fit_transform(X))

In [37]:
X

,0,1,2,3,4,5,6,7,8,9,10,11
0,-1.499026,-1.005206,-1.155105,-1.028568,1.680364,-0.199689,-0.171802,-0.081094,0.490577,-1.423271,0.0,0.177213
1,-0.999150,-0.349922,0.865722,1.372384,-0.365195,-0.387535,0.611525,0.358998,0.987011,-1.423271,0.0,0.177213
2,-0.499275,0.960647,0.865722,1.372384,-1.432443,-1.326764,-0.894872,0.945789,1.483446,-1.423271,0.0,0.177213
3,1.000350,0.305363,0.865722,-1.028568,1.680364,-0.199689,1.455108,-1.401373,-1.495162,-1.423271,0.0,0.177213
4,1.500225,-0.349922,-1.155105,0.171908,-0.187320,-0.387535,-0.473081,-0.814582,-0.998727,-1.423271,0.0,0.177213
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,1.000350,0.305363,0.865722,-1.028568,1.502490,1.772691,0.792293,1.532579,1.483446,-1.423271,0.0,0.177213
4996,1.500225,-0.349922,-1.155105,0.171908,-0.320726,-0.152728,-0.232057,0.212301,-0.998727,-1.423271,0.0,0.177213
4997,0.500475,-1.005206,0.865722,0.171908,-0.409663,-0.246651,1.515363,-0.961280,1.483446,-1.132345,0.0,0.177213
4998,0.000600,-0.349922,-1.155105,-1.028568,-0.142851,0.035118,-0.653849,1.239184,-1.495162,-1.132345,0.0,0.177213
4999,-1.499026,0.305363,0.865722,-1.028568,1.502490,-0.152728,1.093572,-1.694768,0.490577,-0.841418,0.0,0.177213

In [38]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [39]:
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb

In [45]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb

def evaluate_classifiers(X_train, X_test, y_train, y_test):
    classifiers = {
        'Logistic Regression': LogisticRegression(max_iter=1000),
        'SVM': SVC(),
        'Decision Tree': DecisionTreeClassifier(),
        'KNN': KNeighborsClassifier(),
        'Random Forest': RandomForestClassifier(),
        'XGBoost': xgb.XGBClassifier(use_label_encoder=False, eval_metric='logloss')
    }

    results = {}

    for name, model in classifiers.items():
        print(f"Training {name}...")
        model.fit(X_train, y_train)
        
        y_train_pred = model.predict(X_train)
        y_test_pred = model.predict(X_test)

        train_acc = accuracy_score(y_train, y_train_pred)
        test_acc = accuracy_score(y_test, y_test_pred)
        cm = confusion_matrix(y_test, y_test_pred)
        report = classification_report(y_test, y_test_pred)

        results[name] = {
            'Training Accuracy': train_acc,
            'Testing Accuracy': test_acc,
            'Confusion Matrix': cm,
            'Classification Report': report
        }

        print(f"{name} - Training Accuracy: {train_acc:.4f}, Testing Accuracy: {test_acc:.4f}")
        print(f"Confusion Matrix:\n{cm}")
        print(f"Classification Report:\n{report}\n")

In [48]:
pd.DataFrame(evaluate_classifiers(X_train, X_test, y_train, y_test))

Training Logistic Regression...
Logistic Regression - Training Accuracy: 0.9673, Testing Accuracy: 0.9650
Confusion Matrix:
[[182  35]
 [  0 783]]
Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.84      0.91       217
           1       0.96      1.00      0.98       783

    accuracy                           0.96      1000
   macro avg       0.98      0.92      0.95      1000
weighted avg       0.97      0.96      0.96      1000


Training SVM...
SVM - Training Accuracy: 0.9477, Testing Accuracy: 0.9360
Confusion Matrix:
[[153  64]
 [  0 783]]
Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.71      0.83       217
           1       0.92      1.00      0.96       783

    accuracy                           0.94      1000
   macro avg       0.96      0.85      0.89      1000
weighted avg       0.94      0.94      0.93      1000


Training Decision Tree...
Decision Tree - Training Accuracy: 1.0000, Testing Accuracy: 0.9990
Confusion Matrix:
[[216   1]
 [  0 783]]
Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       217
           1       1.00      1.00      1.00       783

    accuracy                           1.00      1000
   macro avg       1.00      1.00      1.00      1000
weighted avg       1.00      1.00      1.00      1000


Training KNN...
KNN - Training Accuracy: 0.9002, Testing Accuracy: 0.8520
Confusion Matrix:
[[ 94 123]
 [ 25 758]]
Classification Report:
              precision    recall  f1-score   support

           0       0.79      0.43      0.56       217
           1       0.86      0.97      0.91       783

    accuracy                           0.85      1000
   macro avg       0.83      0.70      0.74      1000
weighted avg       0.85      0.85      0.83      1000


Training Random Forest...
Random Forest - Training Accuracy: 1.0000, Testing Accuracy: 0.9860
Confusion Matrix:
[[203  14]
 [  0 783]]
Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.94      0.97       217
           1       0.98      1.00      0.99       783

    accuracy                           0.99      1000
   macro avg       0.99      0.97      0.98      1000
weighted avg       0.99      0.99      0.99      1000


Training XGBoost...
XGBoost - Training Accuracy: 1.0000, Testing Accuracy: 0.9990
Confusion Matrix:
[[216   1]
 [  0 783]]
Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       217
           1       1.00      1.00      1.00       783

    accuracy                           1.00      1000
   macro avg       1.00      1.00      1.00      1000
weighted avg       1.00      1.00      1.00      1000

Empty DataFrame
Columns: []
Index: []